@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--blue: #3C91E6;
    --purple:#800080;
    --light-purple:#E0AAE5;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
    --light-green: #B8F6C7; 
    --green: #008000; 
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
    flex-direction: column;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 10px;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
    text-decoration: none;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
    font-weight: 600;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
    text-decoration: none;
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

#sidebar .logout{
    color: var(--red)!important;
    text-decoration: none;
}
#sidebar .logout:hover{
    color: 	#BE0032 !important;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}

#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}




/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	/* overflow-y: auto; */
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}


.hidden {
    display: none;
}

#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 15px;
}
#content main .box-info li {
	padding: 24px;
	/* background: var(--light); */
	background: #f3f3f3;
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	transition: transform 0.3s ease-in-out;
}
.box-info li:hover {
    transform: translateY(-5px);
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-purple);
	color: var(--purple);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-green);
	color: var(--green);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-yellow);
	color: var(--red);
}
#content main .box-info li:nth-child(4) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}


/* invester */
.box-information {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.box-information li {
    background-color: #f7f7f7;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
	/* height: 85%; */
}

.box-information li:hover {
    transform: translateY(-5px);
}

.icon-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}

.icon-container i {
    font-size: 48px;
    color: #ffffff;
}
.form-control{
	margin-left: 10px !important;
	width: 90% !important;
	padding: .375rem 0.16rem !important;
}

/* Additional CSS for table styling */

.order table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
  }
  
  .order table th,
  .order table td {
	padding: 12px 9px;
	text-align: center;
  }
  
  .order table th {
	color: #333;
	font-weight: bold;
  }
  
  .order table tr:nth-child(even) {
	background-color: #f9f9f9;
  }
  
  .order table tr:hover {
	background-color: #f5f5f5;
  }
  
  .order table td {
	position: relative;
  }
  
  .order table td .action-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: white;
  }
  .order table td .action-icon:hover{
	background-color: var(--grey);
  }
  
  .order table td .accept-icon i {
	color: #28a745;
  }
  
  .order table td .reject-icon i {
	color: #dc3545;
  }
  
  .order table td .action-icon i {
	font-size: 20px;
  }
  
/* #content main .table-data .order table tbody tr:hover {
	background: var(--grey);
} */
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: #FF817F;
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
.report-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd; 
}

.report-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.report-table td + td {
    border-left: 1px solid #ddd; 
}
.table-bordered {
    background: var(--light);
}

.report-table tr:last-child td {
    border-bottom: none;
}

.report-table strong {
    font-weight: bold;
}

/* MAIN */
/* CONTENT */




.button-container {
    text-align: left;
    margin-top: 20px;
  }

  .button-container button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button-container button:hover {
    background-color: #0056b3;
  }




@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
	#employeeForm,#vendorForm{
		margin-top: 30px;
    width: 90%;
	}
	#employeeForm h2,#vendorForm h2{
	font-size: 18px
	}
	label{
		font-size: 12px;
	}
	#sidebar .side-menu li a {
		font-size: 13px;
	}
	button{
		padding: 6px 20px;
	}
	
	#employeeForm input[type="submit"] {
		padding: 4px 11px;
	}
	#content main .head-title .left h1 {
		font-size: 26px;
	}
	#content main .box-info li {
		padding: 10px;
	}
	#content main .box-info li .text h3 {
		font-size: 20px;
	}
	#content main .box-info li .text p {
		font-size: 14px;
	}
	#content main .head-title .left .breadcrumb {
		gap: 4px;
	}
	#content main .head-title .left .breadcrumb li {
		font-size: 11px;
	}
	.logo_image{
		font-size: 16px;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
	.col-sm-12 {
		margin-left: 5%;
		margin-top: 36px;
	}
	#button{
		height: 38px;
	}
	.right-aligned{
	display: flex;
    height: 40px;
    margin-top: 5px;
    font-size: 10px;
	gap: 10px;
	}
}


/* Error */
.error {
    padding: 40px 0;
    /* background: #fff; */
    font-family: 'Arvo', serif;
  }

  .error img {
    width: 100%;
  }

  .bg_error {
    background-image: url(/images/no_found.webp);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .box h3 {
    font-size: 60px;
    text-align: center;
    color: #333;
    margin-top: 55px;

  }

  .error-message {
    font-size: 28px;
    text-align: center;
    color: #666;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .box {
    margin-top: -50px;
  }

  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .contact-list li {
    margin-bottom: 10px;
  }

  .contact-list li a {
    color: #3C91E6;
    text-decoration: none;
    font-weight: 800;
  }

  .contact-list li a:hover {
    text-decoration: underline;
  }

  /* added by pulkit  */
  .head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 35px;
  }



  #invoiceImageContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 80%; /* Adjust the maximum width as needed */
	max-height: 80%; /* Adjust the maximum height as needed */
	overflow: auto; /* Enable scrolling if the content exceeds container size */
  }
  
  .closeButton {
	position: absolute;
	top: 10px;
	right: 3px;
	cursor: pointer;
	font-size: 20px;
	color: black;
	font-weight: bolder;
	/* padding: 2%; */
	
  }
  
  .closeButton:hover {
	color: #555;
  }
  
  #invoiceImage {
	max-width: 100%; /* Ensure the image doesn't exceed container width */
	max-height: 100%; /* Ensure the image doesn't exceed container height */
	display: block;
	margin: 0 auto; /* Center the image horizontally */
  }